[init]
    defaultBranch = main
[core]
    editor = code --wait
    symlinks = true
    excludesfile = ~/.gitignore-global
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[includeIf "gitdir:~/private/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:/tmp/"]
  path = ~/.gitconfig-tmp
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
    default = current
[alias]
    undo = reset --soft HEAD^
[core]
    pager = delta
[gpg]
    format = ssh
[user]
    signingkey = /Users/krzysztof/.ssh/id_ed25519.pub
[commit]
    gpgSign = true
[rebase]
    autosquash = true
[alias]
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
    gtfo = "!f(){ base=$(git rev-parse --abbrev-ref HEAD); git switch --force-create km/emergency-exit && git add --all && git commit --message \"KM: Emergency exit (from $base)\" && git push --force --set-upstream origin HEAD; }; f"
